.widepage.page {
	display: none;
}

.tips {
	display: none;
}

#viewer {
	width: 100%;
	border: 0;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background: none;
}

#viewer img {
	margin: 20px auto 0;
}

#left-skyscraper, #right-skyscraper {
	display: none;
}